In [8]:
# -*- coding: utf-8 -*-
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager
import os,sys
from IPython.display import display, HTML
import naiveBayes
font = matplotlib.font_manager.FontProperties(fname='/Library/Fonts/Arial Unicode.ttf')

In [51]:
columns_to_use = naiveBayes.getColumns()
for key in sorted(columns_to_use):
    d = pd.read_csv("analysis/%s.csv"%key,encoding="shift-jis")
    print
    print "====================="
    print key,columns_to_use[key],"(N=%d)"%len(d[["truth"]].dropna())
    t = d.pivot_table(values="confidence",index="truth",columns="infer",aggfunc=[len]).fillna(0).astype(int)
    display(t)

=====================
idx00_rental 貸与物の有無 (N=1333)

        len
infer     -   有
truth
-      1107  95
有        55  76

=====================
idx01_material 有形 / 無形（情報/体験/情報＋権利） (N=1337)

       len
infer   有形   無形
truth
有形     885   63
無形      72  317

=====================
idx02_customize 汎用 / カスタマイズ (N=1337)

          len
infer  カスタマイズ   汎用
truth
カスタマイズ    203   44
汎用        268  822

=====================
idx03_luxury 必須 / 特徴なし / 贅沢 (N=1337)

       len
infer   必須 特徴なし  贅沢
truth
必須     272  137  29
特徴なし   128  578  92
贅沢      14   14  73

=====================
idx04_brand ブランド価値 (N=1337)

      len
infer   有     無
truth
有      97   112
無      84  1044

=====================
idx05_experience 経験曲線 (N=1262)

       len
infer    低    高
truth
低      433  306
高       43  480

=====================
idx06_switchcost スイッチングコスト (N=1311)

       len
infer    低  有    高
truth
低      841  0  123
有        0  1    0
高      163  0  183

=====================
idx07_usernetwork 顧客蓄積 (N=1337)

       len
infer    有    無
truth
有      299  176
無      106  756

=====================
idx08_infonetwork 情報蓄積 (N=1337)

       len
infer    有     無
truth
有      119    71
無      132  1015

=====================
idx09_addictive 中毒性 (N=1337)

       len
infer    有     無
truth
有       57    14
無      220  1046

=====================
idx10_tradecount 取引相手 (N=1141)

             len
infer       BtoB BtoB / BtoC BtoC
truth
BtoB         645          15   54
BtoB / BtoC   60          82   12
BtoC          90          25  158

=====================
idx11_regional 地域制約 (N=1237)

      len
infer   有     無
truth
有      63    60
無      92  1022

=====================
idx12_userdepend 特定顧客依存 (N=396)

       len
infer    有    無
truth
有       83    5
無      166  142

=====================
idx13_monetize 課金形態 (N=909)

        len
infer ワンタイム  売買   継続
truth
ワンタイム   480  24  115
売買        0   6    0
継続       74   2  208

=====================
idx14_continuous 継続性 (N=863)

       len
infer   単年   即時   数年
truth
単年     219   34   22
即時     154  130   38
数年      90   13  163

=====================
idx15_paytiming 課金タイミング (N=855)

       len
infer   売買 進行基準
truth
売買     563  125
進行基準    39  128